* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
    height: 100vh;    
    background-color: #000000;
    color: #f6f6f6;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque {
    color: #22D4FD;
}