@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
    /* height: 100vh;     */
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;    
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;
    text-decoration: none;;
}

.container-main {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.titulo-conteudo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.texto-conteudo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.titulo-destaque {
    color: #22D4FD;
}

.imagem-eu {
    width: 600px;
    height: 600px;
}

.container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.subtitulo-links {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.botao-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    font-size: 24px;
    width: 378px;
    height: 79px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.botao-links:hover {
    background-color: #272727;
}

.rodape {
    margin-top: 106px;
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}


@media (max-width: 768px)
